<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>app.servlets.ControllerServlet</servlet-class>
        <multipart-config>
            <max-file-size>2097152</max-file-size>
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>app.servlets.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>remove</servlet-name>
        <servlet-class>app.servlets.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>remove</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>app.servlets.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>app.servlets.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <resource-env-ref>
        <resource-env-ref-name>jdbc/books</resource-env-ref-name>
        <resource-env-ref-type>java.sql.DriverManager</resource-env-ref-type>
    </resource-env-ref>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/src/main/webapp/error.jsp</location>
    </error-page>
</web-app>
